#wrapper {
    padding-top: 51px;
}

.sidebar-second {
    border-left: 1px solid #e7e7e7;
    margin-left: 250px;
}

.sidebar {
    margin-top: 0px;
    width: 500px;
}

.sidebar .sidebar-nav {
    width: 250px;
    float: left;
    overflow: auto;
    position: fixed;
    height: 100%;
    margin-top: 117px;
    padding-bottom: 168px; /* top padding 51 + search bar padding 117 */
}

.sidebar .sidebar-nav .active {
    background: #e8e8e8;
}

.sidebar-search {
    position: fixed !important;
    width: 250px;
    margin-top: -117px;
    z-index: 9;
    background: #f8f8f8;
    padding-bottom: 5px !important;
}

.sidebar-search {
    border-right: 1px solid #e7e7e7;
}

.custom-search-form {
    margin-bottom: 8px;
}

#page-wrapper {
    margin-left: 500px;
    border-bottom: 1px solid #e7e7e7;
}

.nav-tree {
    margin-left: 20px;
}

.collection-controls {
    right: 0px;
    position: absolute;
}

.header-controls {
    position: relative;
}

.tags {
    margin-bottom: 10px;
}

.tags span {
    margin-left: 5px;
}

.jsonview {
    font-size: 0.9em;
}

.jsonview span {
    word-break: break-all;
}

.collections {
    background: #f8f8f8;
    margin-left: 0px;
}

.collection {
    padding-left: 20px;
}

.collection-active {
    background: #e3e3e3;
}

.tag {
    margin-right: 10px;
    margin-bottom: 10px;
}

.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
