<div class="container-fluid">
    <h4>Add ip address for scanning</h4>
    <textarea class="form-control" rows="10" placeholder="Please, input ip in format ipaddres:port or ipaddres" ng-model="iplist"></textarea>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
