<div class="container-fluid">
    <h4>Search</h4>
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" ng-model="query" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search(query)">
                <i class="fa fa-search"></i>
            </button>

        </span>
    </div>
    <input
        bs-switch
        ng-model="entitiesLimit"
        ng-init="entitiesLimit=false"
        type="checkbox"
        switch-on-text="entities limit"
        switch-off-text="not use entities limit">

    <span class="pull-right">
        Search by regular expression:
        <input
            bs-switch
            ng-model="useRegEx"
            ng-init="useRegEx=false"
            type="checkbox"
            switch-on-text="yes"
            switch-off-text="no">
    </span>
    
    <div ng-show="entitiesLimit">
        <br/>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="minimum entities" aria-describedby="entities-min" ng-model="entitiesMin">
            <span class="input-group-addon" id="entities-min">Min</span>
        </div>
        <br/>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="minimum entities" aria-describedby="entities-max" ng-model="entitiesMax">
            <span class="input-group-addon" id="entities-Max">Max</span>
        </div>
    </div>
    <br/>
    <br/>

    <div class="panel panel-default" ng-hide="!servers.length">
        <div class="panel-heading">Servers</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="server in servers">
                    <a ng-href="#/dashboard/{{server.ancestor_path}}">{{server.ip}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default" ng-hide="!databases.length">
        <div class="panel-heading">Databases</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="database in databases">
                    <a ng-href="#/dashboard/{{database.ancestor_path}}">{{database.db_name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default" ng-hide="!collections.length">
        <div class="panel-heading">Collections</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="collection in collections">
                    <a ng-href="#/dashboard/{{collection.ancestor_path}}">{{collection.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default" ng-hide="!preview.length">
        <div class="panel-heading">Preview</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="collection in preview">
                    <a ng-href="#/dashboard/{{collection.ancestor_path}}">{{collection.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
