<div class="container-fluid">
    <h4>List of all tags</h4>
    <button class="btn btn-primary tag" type="button" ng-repeat="tag in tags" ng-click="selectTag(tag)">
        {{tag.text}} <span class="badge">{{tag.count}}</span>
    </button>
    
    <tabset ng-show="selectedTag">
    <tab heading="Servers">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ip</th>
                            <th>hostname</th>
                            <th>checked</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="server in selectedTag.servers">
                            <td><a ng-href="#/dashboard/{{server.ip}}">{{server.ip}}</a></td>
                            <td>{{server.hostname}}</td>
                            <td>{{server.checked}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Databases">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Database</th>
                            <th>checked</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="database in selectedTag.databases">
                            <td><a ng-href="" ng-click="setDatabasePath(database)">{{database.db_name}}</a></td>
                            <td>{{database.checked}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Collections">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Collection</th>
                            <th>Documents</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="collection in selectedTag.collections">
                            <td><a ng-href="" ng-click="setCollectionPath(collection)">{{collection.name}}</a></td>
                            <td>{{collection.entities_count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
