<nav class="navbar-default sidebar" role="navigation" ng-controller="TreeNavCtrl">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model="serverSearch" placeholder="Search by servers">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
                <label>
                    <input type="checkbox" 
                    ng-click="toggleOfflineFilter()" 
                    ng-model="applyOfflineFilter" 
                    ng-init="applyOfflineFilter=true; 
                    toggleOfflineFilter();">
                    Hide offline servers
                </label>
                <span class="pull-right badge">{{servers.length}}:{{filteredServers.length}}</span>
                <label>
                    <input type="checkbox" 
                    ng-click="toggleCheckedFilter()" 
                    ng-init="checkedFilter={checked:'false'}">
                    Show checked servers
                </label>
            </li>
            <li ng:class="{active: server.id==selectedServer.id}" 
                ng-click="selectServer(server)" 
                ng-repeat="server in filteredServers = (servers | filter:serverSearch | filter:offlineFilter | filter:checkedFilter | orderBy:'ip') track by server.id">
                <a ng-href="">
                    {{server.ip}}<span ng-show="server.port!=27017">:{{server.port}}</span>
                    <span class="badge pull-right" 
                          ng:class="{'progress-bar-success': server.size/1048576 < 200, 'progress-bar-warning': server.size/1048576>=200 && server.size/1048576 < 1000, 'progress-bar-danger': server.size/1048576 >=1000}">{{server.size/1048576}} MB</span><br/>
                    <span class="badge" ng-show="server.hostname">{{server.hostname}}</span>&nbsp;<i class="fa fa-tag fa-fw" ng-show="server.tags.length"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-nav navbar-collapse sidebar-second">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search by databases" ng-model="databaseSearch">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
                <label>
                    <input type="checkbox" 
                    ng-click="toggleEmptyFilter()"
                    ng-model="applyEmptyFilter"
                    ng-init="applyEmptyFilter=true;
                    toggleEmptyFilter();">
                    Hide empty databases
                </label>
            </li>
            <li ng:class="{'active': database.id==selectedDatabase.id}" 
                ng-repeat="database in databases | filter:{ db_name: databaseSearch } | filter:emptyFilter | orderBy:'db_name'">
            <a ng-href="" ng-click="selectDatabase(database)">{{database.db_name}}
                <span class="badge pull-right" 
                      ng:class="{'progress-bar-success': database.stats.file_size/1048576 < 200, 'progress-bar-warning': database.stats.file_size/1048576>=200 && database.stats.file_size/1048576 < 1000, 'progress-bar-danger': database.stats.file_size/1048576 >=1000}">{{database.stats.file_size/1048576}} MB</span>
                <span class="badge pull-right">{{database.collections_count}}</span>
            </a>
                <ul class="nav nav-tree collections" ng-show="database.id==selectedDatabase.id && !collectionsIsHidden">
                    <li class="collection"
                        ng:class="{'collection-active': collection.id==selectedCollection.id}"
                        ng-repeat="collection in database.collections | filter:emptyFilter | orderBy:'name'">
                        <a ng-href="" ng-click="selectCollection(collection)">
                            {{collection.name}}
                            <span class="badge pull-right">{{collection.entities_count}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <div class="panel panel-default" ng-hide="server.id">
                <div class="panel-heading">Nothing to show</div>
                <div class="panel-body">
                    <h2>Please, select server.</h2>
                </div>
            </div>

            <ol class="breadcrumb" ng-show="server.id || databasei.id || collection.id">
                <li ng-show="server"><a ng-href="#/dashboard/{{server.ip}}">{{server.ip}}</a></li>
                <li ng-show="database"><a ng-href="#/dashboard/{{server.ip}}/{{database.db_name}}">{{database.db_name}}</a></li>
                <li ng-show="collection" class="active">{{collection.name}}</li>
            </ol>
            
            <div class="collection-info panel panel-default" ng-show="server.id">
                <div class="panel-heading">
                    <i class="fa fa-hdd-o fa-fw"></i><span ng-click="serverInfo = !serverInfo"> Server: {{server.ip}}</span>
                    <div class="pull-right">
                        <div class="btn-group-xs" role="group" aria-label="controls">
                            <button type="button" class="btn btn-default" ng-click="openDumpServerDialog(server)">Dump/Restore</button>
                            <button type="button" class="btn btn-default" style="height: 22px;" ng-click="serverInfo = !serverInfo">
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': serverInfo, 'glyphicon-chevron-right': !serverInfo}">
                                </i><span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="content description" collapse="!serverInfo">
                        <div class="row tags">
                            <div class="col-lg-12">
                                <tags-input ng-model="server.tags"
                                    on-tag-added="updateTags(server);"
                                    on-tag-removed="updateTags(server);">
                                </tags-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Hostname: {{server.hostname}}</li>
                                    <li class="list-group-item">Port: {{server.port}}</li>
                                    <li class="list-group-item">MongoDB: {{server.info.version}}</li>
                                    <li class="list-group-item">System: {{server.info.sysinfo}}</li>
                                    <li class="list-group-item">Arch: {{server.info.bits}}</li>
                                    <li class="list-group-item">Checked: <input type="checkbox" 
                                        aria-label="Checked"
                                        ng-model="server.checked"
                                        ng-change="updateChecked(server)"></li>
                                    <li ng-show="!server.info.repl.ismaster" class="list-group-item">Master node: {{server.info.repl.primary}}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Country: {{server.country_code}}</li>
                                    <li class="list-group-item">City: {{server.city}}</li>
                                    <li class="list-group-item">Region: {{server.region}}</li>
                                    <li class="list-group-item">Zip: {{server.zip}}</li>
                                    <li class="list-group-item">ISP: {{server.isp}}</li>
                                    <li class="list-group-item">Organization: {{server.org}}</li>
                                    <li class="list-group-item">Should dump: <input type="checkbox" 
                                        aria-label="Should dump"
                                        ng-model="server.should_dump"
                                        ng-change="updateShouldDump(server)"></li>
                                </ul>
                            </div>
                        </div>
                        <syncstatus statuses="server.sync_dates"></syncstatus>
                    </div> 
                </div>
            </div>


            <div class="collection-info panel panel-default" ng-show="database.id">
                <div class="panel-heading">
                    <i class="fa fa-database fa-fw"></i><span ng-click="databaseInfo = !databaseInfo"> Database: {{database.db_name}}</span>
                    <div class="pull-right">
                        <div class="btn-group-xs" role="group" aria-label="controls">
                            <button type="button" class="btn btn-default" ng-click="openDumpDatabaseDialog(database)">Dump/Rstore</button>
                            <button type="button" class="btn btn-default" style="height: 22px;" ng-click="databaseInfo = !databaseInfo">
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': databaseInfo, 'glyphicon-chevron-right': !databaseInfo}">
                                </i><span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="content description" collapse="!databaseInfo">
                        <div class="row tags">
                            <div class="col-lg-12">
                                <tags-input ng-model="database.tags"
                                    on-tag-added="updateTags(database);"
                                    on-tag-removed="updateTags(database);">
                                </tags-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Collections/Synchronized: {{database.stats.collections}}/{{database.collections_count}}</li>
                                    <li class="list-group-item">Indexes: {{database.stats.indexes}}</li>
                                    <li class="list-group-item">Checked: <input type="checkbox"
                                        aria-label="Checked"
                                        ng-model="database.checked"
                                        ng-change="updateChecked(database)"></li>
                                    <li class="list-group-item">Deleted: <input type="checkbox"
                                        aria-label="Deleted"
                                        ng-model="database.deleted"
                                        ng-change="updateDeleted(database)"></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Avg. object size: {{database.stats.avg_obj_size}}</li>
                                    <li class="list-group-item">Data size: {{database.stats.data_size}}</li>
                                    <li class="list-group-item">File size: {{database.stats.file_size}}</li>
                                    <li class="list-group-item">Should dump: <input type="checkbox" 
                                        aria-label="Should dump"
                                        ng-model="database.should_dump"
                                        ng-change="updateShouldDump(database)"></li>
                                </ul>
                            </div>
                        </div>
                        <syncstatus statuses="database.sync_dates"></syncstatus>
                    </div> 
                </div>
            </div>

            <div class="collection-info panel panel-default" ng-show="collection.id">
                <div class="panel-heading">
                    <i class="fa fa-files-o fa-fw"></i><span ng-click="collectionInfo = !collectionInfo"> Collection: {{collection.name}}</span>
                    <div class="pull-right">
                        <div class="btn-group-xs" role="group" aria-label="controls">
                            <button type="button" class="btn btn-default" ng-click="openDumpDialog(collection)">Dump/Restore</button>
                            <button type="button" class="btn btn-default" style="height: 22px;" ng-click="collectionInfo = !collectionInfo">
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': collectionInfo, 'glyphicon-chevron-right': !collectionInfo}">
                                </i><span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="content description" collapse="!collectionInfo">
                        <div class="row tags">
                            <div class="col-lg-12">
                                <tags-input ng-model="collection.tags"
                                    on-tag-added="updateTags(collection);"
                                    on-tag-removed="updateTags(collection);">
                                </tags-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Documents: {{collection.entities_count}}</li>
                                    <li class="list-group-item">Should dump: <input type="checkbox" aria-label="Dump" ng-model="collection.should_dump" 
                                        ng-change="updateShouldDump(collection)"></li>
                                    <li class="list-group-item">Deleted: <input type="checkbox" aria-label="Deleted" ng-model="collection.deleted" 
                                        ng-change="updateDeleted(collection)"></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Avg. object size: {{collection.stats.avg_obj_size}}</li>
                                    <li class="list-group-item">Data size: {{collection.stats.size}}</li>
                                    <li class="list-group-item">Storage size: {{collection.stats.storage_size}}</li>
                                </ul>
                            </div>
                        </div>
                        <textarea rows="3" ng-model="collection.commentary"
                            class="form-control input-block-level"
                            ng-blur="updateCommentary(collection);"></textarea><br/>
                        <syncstatus statuses="collection.sync_dates"></syncstatus>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-init="status.open=true" ng-show="collection.id">
                <div class="panel-heading">
                    <i class="fa fa-eye fa-fw"></i><span ng-click="status.open = !status.open"> Preview</span>
                    <i class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"
                        ng-click="status.open = !status.open"></i>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a ng-href ng-click="setPreviewState('default')">Default</a></li>
                                <li><a ng-href ng-click="setPreviewState('expand')">Expand</a></li>
                                <li><a ng-href ng-click="setPreviewState('collapse')">Collapse</a></li>
                            </ul>
                        </div>
                        &nbsp;
                    </div>
                </div>
                <div class="panel-body" collapse="!status.open">
                    <div class="" id="json"></div>
                </div>
            </div>
        </div>
    </div>
</div>
