<div class="container-fluid">
    <h4>Dump collection: {{collection.name}}</h4>

    Selected field will be: 
    <input
        bs-switch
        ng-model="dumpOnlySelected"
        type="checkbox"
        switch-on-text="dumped"
        switch-off-text="excluded"><br/><br/>

    <isteven-multi-select    
        input-model="fields"    
        output-model="selectedFields"
        button-label="name"
        item-label="name"
        tick-property="ticked">
    </isteven-multi-select><br/><br/>

    <button class="btn btn-primary" ng-click="createDump(collection)">Create dump</button><br/><br/>
    <progressbar max="100" value="current" ng-show="current>=0"><span style="color:black; white-space:nowrap;">{{current}}%</span></progressbar>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Link</th>
                <th>Partial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dump in dumps">
                <td>{{dump.datetime}}</td>
                <td><a href="{{dump.url}}">{{dump.url}}</a></td>
                <td><i ng-show={{dump.partial}} class="fa fa-check fa-fw"></i></td>
                <td>
                    <a ng-click="openRestoreDumpDialog(dump)"><i class="fa fa-upload fa-fw"></i></a>
                    <a ng-click="deleteDump(dump)" ng-hide="dump.database_dump"><i class="fa fa-times fa-fw"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
