<div class="container-fluid">
    <h4 ng-show="object.ip">Dump Server: {{object.ip}}:{{object.port}}</h4>
    <h4 ng-show="object.db_name">Dump Database: {{object.db_name}}</h4>

    <button class="btn btn-primary" ng-click="createDump(object)">Create dump</button><br/><br/>
    <progressbar max="100" value="current" ng-show="current>=0"><span style="color:black; white-space:nowrap;">{{current}}%</span></progressbar>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dump in dumps">
                <td>{{dump.datetime}}</td>
                <td>
                    <a ng-click="openRestoreDumpDialog(dump)"><i class="fa fa-upload fa-fw"></i></a>
                    <a ng-click="deleteDump(dump)" ng-hide="dump.server_dump"><i class="fa fa-times fa-fw"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
