<div class="container-fluid">
    <h4 ng-show=object.ip>Restore Server ({{object.ip}}:{{object.port}}) dump at {{dump.datetime}}</h4>
    <h4 ng-show=object.db_name>Restore Database ({{object.db_name}}) dump at {{dump.datetime}}</h4>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-upload fa-fw"></i>Host:port</span>
        <input type="text" class="form-control" placeholder="Server host or ip address" ng-model="host" aria-describedby="basic-addon1" value="localhost">
    </div><br>
    <div class="input-group" ng-hide="object.ip">
        <span class="input-group-addon"><i class="fa fa-database fa-fw"></i>Database</span>
        <input type="text" class="form-control" placeholder="Database name" aria-describedby="basic-addon1" value="" ng-model="database">
    </div><br>

    <button class="btn btn-primary" ng-click="restoreDump()">Restore dump</button><br/><br/>
    <progressbar max="100" value="current" ng-show="current>=0"><span style="color:black; white-space:nowrap;">{{current}}%</span></progressbar>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
