<div class="row sync">
    <div class="col-lg-12">
        <table class="table table-stripped table-condensed table-bordered">
            <thead ng-click="toggleOpen()" ng-init="limit = -1">
                <td>Synchronization history
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
                </td>
            </thead>
            <tr ng-repeat="status in statuses | limitTo: limit" ng:class="{'danger': status.status <=0, 'success': status.status >0}">
                <td ng-click="hidden = !hidden">
                    {{status.datetime}}
                    <div collapse="!hidden" class="well" ng-show="status.status<=0">{{status.traceback}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
