<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">

        <title>{% block title %} MongoAdmin {% endblock%}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('frontend.static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/jquery-jsonview/dist/jquery.jsonview.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='js/ui-bootstrap/ui-bootstrap-0.13.0-SNAPSHOT-csp.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/ng-tags-input/ng-tags-input.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/ng-tags-input/ng-tags-input.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/angular-multi-select/isteven-multi-select.css') }}" rel="stylesheet">
        <link href="{{ url_for('frontend.static', filename='components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('frontend.static', filename='css/dashboard.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    <div id="wrapper">

        <!-- Top navbar -->
        {% raw %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0" ng-controller="NavbarCtrl">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MongoAdmin Dashboard</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-click="openSearchDialog()">
                        <i class="fa fa-search fa-fw"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href>
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href ng-click="openScanDialog()">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Sync servers
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="startDeferredDumps()">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Start deferred dumps
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="openTagsDialog()">
                                <div>
                                    <i class="fa fa-tags fa-fw"></i> Tag list
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </nav> 
        {% endraw %}

    
    <div ui-view>
    {% block content %}{% endblock %}
    </div>
    
    </div>
    
    {% raw %}
    <div ng-controller="NotificationCtrl" class="notification" style="z-index: 2000;">
        <div ng-class="{'alert-success': notification.type=='info', 'alert-danger': notification.type=='error'}"
            class="alert alert-dismissable" ng-repeat="notification in messages">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="dismiss($index)">&times;</button>
            {{notification.message}}
        </div>
    </div>
    {% endraw %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('frontend.static', filename='components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular/angular.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-route/angular-route.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-animate/angular-animate.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/jquery-jsonview/dist/jquery.jsonview.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/ui-bootstrap/ui-bootstrap-tpls-0.13.0-SNAPSHOT.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/ng-tags-input/ng-tags-input.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/restangular/dist/restangular.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/lodash/lodash.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-multi-select/isteven-multi-select.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/bootstrap-switch/dist/js/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js') }}"></script>
    
    <script src="{{ url_for('frontend.static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/directives/syncstatus.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/services/server.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/services/api.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/services/notification.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/notification/notification.ctrl.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/dashboard/dashboard.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/dashboard/dashboard.ctrl.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/dashboard/treenav.ctrl.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/dashboard/dump.ctrl.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/navbar/navbar.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/navbar/navbar.ctrl.js') }}"></script>
    </body>
</html>
